<div class="banner">
 <!-- <div class="child center_center"><%= image_tag("beebath.jpg", :size => "90x90") %></div> -->
  <div class="child top_left"><h2>#ComeBackBees</h2></div>
</div>

<!-- test class -->
<div class="parent">
    <div class="child top_left">Top left</div>
    <div class="child top_center">Top center</div>
    <div class="child top_right">Top right</div>
    <div class="child center_left">Center left</div>
    <div class="child center_center">Center center</div>
    <div class="child center_right">Center right</div>
    <div class="child bottom_left">Bottom left</div>
    <div class="child bottom_center">Bottom center</div>
    <div class="child bottom_right">Bottom right</div>
</div>